#reading-list article {
  img {
    width: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  li, h2 {
    clear: both;
  }
  li {
    list-style-type: none;
  }
}
